*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
    background: rgb(99,160,224);
    background: linear-gradient(180deg, rgba(99,160,224,1) 38%, rgba(116,36,134,1) 92%);
    color: white;
}

.header{
    font-family: 'Chela One', cursive;
    text-align: center;
    padding: 0 0 20px;
    font-size: 40px;
}

.header img{
    height: 300px;
    width:100%;
    opacity: 80%;
}

.container{
    display: flex;
}

.navbar{
    width: 30%;
    padding: 10px;
}

.navbar ul li{
    display: block;
    text-align: center;
    color: white;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 5px;
    padding: 5px 5px;
}

.content{
    width: 70%;
    padding: 20px;
}

.social{
    display:inline-flex;
    list-style: none;
}

.social li{
    padding: 5px;
    margin: 5px;
}

.social img{
    width: 30px;
}

.img-quem{
    width: 150px;
    border-radius: 90px;
    border: 3px solid white;
    box-shadow: 0 0 20px white; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services{
    list-style: circle;
    margin: 0 0 0 20px;
}

.email img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    box-shadow: 0 0 20px silver; 
}

.video{
    width: 90%;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background: rgb(116,36,134);
    text-align: center;
    padding: 20px 0;
}